/* Header */

.header {
    background-color: var(--color-secondary);
}

.header__wrapper {
    margin: 0 auto;
    padding: 0 24px 32px;
}

.header__top {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 40px 0 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: var(--color-primary);
}

/* Menu */

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0;
}

.menu__item a {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: var(--color-primary-hover);
}

.menu__item:hover a {
    color: var(--color-primary);
}

.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}


/* Line */

.header__line-wrapper {
    display: none;
}


/* Media */

@media (max-width: 960px) {
    .menu {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__mobile-menu-button {
        display: block;
    }

    .header__line-wrapper {
        display: block;
    }
}

@media (max-width: 640px) {
    .logo {
        font-size: 24px;
        line-height: 33px;
    }
}