* {
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    background: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_form {
    width: 582px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFEFE;
}

.top {
    text-align: center;
}

h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    padding-top: 72px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    padding: 0 0 47px 0;
    margin: 0;
}

p > a {
    color: #089FE0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 22px;
    padding: 0 94px 91px;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    background: #F5F5F5;
    padding: 9px;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    font-style: italic;
    border-radius: 5px;
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
}

.creditionals {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1px;
}

.creditionals > input {
    flex-grow: 1;
    width: 197px;
}

#first_name {
    border-radius: 5px 0 0 5px;
}

#last_name {
    border-radius: 0 5px 5px 0;
}

button {
    background-color: #089FE0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 9px 0;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

label > a {
    text-decoration: none;
    color: #089FE0;
}
