body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: #FFF;
    font-family: "Roboto";
    margin: 0;
}

header {
    margin: 80px 0 79px;
    padding: 0 180px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
}

nav a {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

input[type="search"] {
    background-color: #283241;
    color: #FFF;
    font-size: 16px;
    height: 40px;
    max-width: 224px;
    border-radius: 100px;
    background: rgba(31, 41, 55, 0.60);
    padding: 9px 0 12px 49px;
    border: 0 none;
}

.sectionTitle {
    color: #A9ADB3;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 14px 0;
}

h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px 0;

}

.authotsInfo {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: left;
}

.authorsName {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.authorsJob {
    color: #A9ADB3;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 28px 0;
}

.macColorImg {
    margin: 0 0 69px 0;
}

article {
    text-align: center;
}

.articleText {
    text-align: left;
    max-width: 708px;
    margin-left: calc((100% - 1440px) / 2 + 367px);
}

.articleText > .heroParagraph {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.articleText > p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 2em 0;
}

.articleText > p > a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

footer {
    color: #A9ADB3;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 103px 0 77px;
    text-align: center;
}
